# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.gd text eol=lf
*.tscn text eol=lf
*.godot text eol=lf
*.txt text eol=lf

*.cpp text
*.c text
*.h text
*.cs text

*.sln text eol=crlf

*.png binary
*.jpg binary
